/* Styles de base pour le corps de la page */
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%; /* Utilise la largeur totale de l'écran */
}

/* Styles pour l'en-tête */
header {
    margin-bottom: 0;
    text-align: center;
    background-color: #f5f5f5; /* Couleur de fond de l'en-tête */
    padding: 10px; /* Espacement interne */
    text-align:left; 
    padding-bottom: 0;
}

.logo {
    padding-left: 90px;
    max-width: 150px; /* Limiter la taille du logo */
    height: auto; /* Conserver les proportions du logo */
    
}

/* Styles pour le titre principal */
h1 {
    color: #333; /* Couleur du texte du titre */
    font-size: 2em; /* Taille du texte du titre */
    margin: 0; /* Supprimer la marge par défaut */
}

/* Styles pour la section principale */
main {
    padding: 2rem;
    padding-top: 0;
}

/* Styles pour les images */
img {
    width: 350px;
    height: 300px;
}

/* Styles pour l'en-tête du photographe */
.photograph-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}


/* Styles pour la section des détails du photographe */

#photographer-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #ffffff;
    margin: 0px 60px;
    padding: 10px;
    border-bottom: 2px solid #FAFAFA;
    text-align: center;
    width: 85%;
    color: #333; /* Couleur du texte */
    padding-top: 5px;
}

#photographer-details div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    height: 100px;
}

a {
    text-decoration: none;
}

#photographer-details h2 {
    font-size: 50px;
    color: #D3573C;
    margin: 0;
    padding: 0;
}

#photographer-details p {
    font-size: 24px;
    color: #901C1C;
    margin: 5px 0;
    align-items: center;
}

#photographer-details span {
    font-size: 18px;
    color: #525252;
    margin: 5px 0;
}

#photographer-details img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
    #photographer-details {
        flex-direction: column;
        text-align: center;
    }

    #photographer-details img {
        margin-top: 10px;
    }
}

/* Styles pour le bouton de contact */

.contact_button {
    background-color:#901C1C;
    color:#fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 0;
    width: 170px;
    height: 59px;
    font-size: 20px;
    margin-bottom: 130px;
}

.contact_button:hover {
    background-color:#007bff ;
    
}


/* Styles pour les options de tri */

.sort-options {
    margin-bottom: 20px; /* Espacement sous les options de tri */
}

.sort-options label {
    display: block; /* Forcer le label à occuper une ligne entière */
    margin-bottom: 8px; /* Espacement sous le label */
    color: #333; /* Couleur du texte des labels */
}

.hidden-option {
    display: none;
}

.sort-options {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    margin-left: 50px; 
    margin-bottom: 0;  
}


#sort {
    padding: 0.5rem;
    margin-bottom: 10px;
    color: white;
    background-color: #901C1C;
    font-size: 18px;
}

/* Styles pour la galerie de médias */

.gallery {
    display: flex; /* Affichage en flexbox pour la galerie */
    flex-wrap: wrap; /* Enrouler les éléments de la galerie */
    gap: 10px; /* Espacement entre les éléments */
    justify-content: center;
    align-items: center;
    
}


/* Styles pour la section des médias */
.media-section {
    padding: 20px; /* Espacement interne */
    background-color: #ffffff; /* Couleur de fond */
    color: #333; /* Couleur du texte */
    padding-top: 0;
    width: 100%;
    margin-right: 20px;
    
}
.media {
    width: 320px;
    height: 280px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.media img,
.media video {
    width: 100%;
    border-radius: 0.5rem;
}

.media-item {
    height: 320px;
}

article {
    width: 30%;
    justify-content: flex-start;
}

/* Styles pour les titres */
h2 {
   
    margin-top: 0;
    color: #901C1C;
    font-size: 20px;
    font-weight: 400;
}

/* Styles pour les informations des médias */
.media-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

/* Styles pour la modale de contact */

.modal-container {
    position: fixed; /* Positionner la modale en fixe */
    top: 0; /* Aligner en haut */
    left: 0; /* Aligner à gauche */
    width: 100%; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: none; /* Affichage flex pour centrer la modale */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    z-index: 1000; /* Positionner au-dessus des autres éléments */
}

/* Styles pour le contenu de la modale */
.modal {
    background-color: #fff; /* Couleur de fond de la modale */
    padding: 20px; /* Espacement interne */
    border-radius: 5px; /* Coins arrondis */
    width: 80%; /* Largeur de la modale */
    max-width: 600px; /* Largeur maximale */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre portée */
}

/* Styles pour le formulaire de contact */
#contact-form {
    display: flex; /* Affichage en flexbox */
    flex-direction: column; /* Disposer les éléments en colonne */
}

#contact-form label {
    margin-bottom: 5px; /* Espacement sous le label */
    color: #333; /* Couleur du texte des labels */
}

#contact-form input, #contact-form textarea {
    margin-bottom: 15px; /* Espacement sous les champs de formulaire */
    padding: 10px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure des champs de formulaire */
    border-radius: 4px; /* Coins arrondis */
}

.modal h2 {
    color: #000;
    font-size: 28px;
    padding: 0;
   text-align:left;
    margin-top: 10px;
}

.modal span {
    display: flex;
    font-size: 28px;
}

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#message {
    height: 100px;
}

.modal form button {
    align-self: flex-start;
    margin-top: 20px;
    width: 140px;
    height: 59px;
    background: #901C1C;
    color: #f2f2f2;
    border-color: #901C1C;
}

/* Styles pour le bouton de fermeture de la modale */
.closeModal {
    width: 10%;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.closeModal img {
    width: 20px;
    height: 20px;
    background-color: #901C1C;
    
}

/* Styles pour la lightbox */
/* Styles pour la lightbox */
.lightbox {
    position: fixed; /* Positionner en fixe */
    top: 0; /* Aligner en haut */
    left: 0; /* Aligner à gauche */
    width: 100%; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    display: flex; /* Affichage flex pour centrer la lightbox */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    z-index: 1000; /* Positionner au-dessus des autres éléments */
}

/* Styles pour les boutons de la lightbox */
.lightbox-close, .lightbox-prev, .lightbox-next {
    background: none; /* Pas de fond */
    border: none; /* Enlever la bordure */
    color: #fff; /* Couleur du texte */
    font-size: 24px; /* Taille du texte */
    cursor: pointer; /* Curseur pointeur */
    margin: 0 10px; /* Espacement horizontal */
}

.lightbox-image, .lightbox-video {
    max-width: 90%; /* Largeur maximale */
    max-height: 80%; /* Hauteur maximale */
    display: block; /* Afficher comme bloc */
    margin: auto; /* Centrer */
}

/* Styles pour le titre dans la lightbox */
.lightbox-title {
    color:#901C1C; /* Couleur du texte */
    text-align:start; /* Centrer le texte */
    margin-top: 10px; /* Espacement au-dessus du titre */
   
}

.lightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 10px;
    z-index: 1000;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightbox.hidden {
    visibility: hidden;
    opacity: 0;
}


/* Boutons de la lightbox */
.lightbox-close,
.lightbox-prev,
.lightbox-next {
    position: absolute;
    background: none;
    border: none;
    color: #901C1C;
    font-size: 2em;
    cursor: pointer;
}

.lightbox-close {
    top: 10px;
    right: 5px;
}

.lightbox-prev {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.lightbox-next {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.lightbox-video {
    display: none;
}

/* Styles pour le conteneur des likes */

.likes-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;
    margin-right: 105px;
    position: relative;
    bottom: 45px;
}

/* Compteur de likes */
.likes-count {
    font-size: 1.1em;
    color: #901C1C;
    padding-left: 20px;
}

/* Bouton like */
.like-button {
    background: none;
    border: none;
    color: #901C1C;
    font-size: 1.1em;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.like-button:hover {
    transform: scale(1.2);
}

.like-button:focus {
    outline: none;
}

/* Styles de base pour le conteneur des likes totaux */

.total-likes-container {
    position:fixed;
    bottom: 0px;
    right: 150px;
    color: #333; /* Couleur du texte */
    background-color: #DB8876;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    
}

.total-likes {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.price-per-day {
    font-size: 16px;
    color: #000000;
}
