
/* Styles de base pour le corps de la page */
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 2000px; /* Utilise la largeur totale de l'écran */
   
}

/* Styles pour l'en-tête */
header {
    text-align: center;
    background-color: white; /* Couleur de fond de l'en-tête */
    text-align:left; 
    padding-bottom: 0;
}

.logo {
    padding-left: 80px;
    max-width: 150px; /* Limite la taille du logo */
    height: auto; /* Conserve les proportions du logo */
    padding-top: 10px;
    padding-bottom: 10px;
    
}

/* Styles pour le titre principal */
h1 {
    color: #D3573C;
    ; /* Couleur du texte du titre */
    font-size: 44px; /* Taille du texte du titre */
    margin: 0; /* Supprime la marge par défaut */
    font-weight: 400;
}

/* Styles pour la section principale */
main {
    width: 1440px;
}

/* Styles pour les images */
img {
    width: 650px;
    height: 620px;
}

/* Styles pour l'en-tête du photographe */
.photograph-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}


/* Styles pour la section des détails du photographe */

#photographer-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    margin: 0px 60px;
    border-bottom: 2px solid #FAFAFA;
    text-align: center;
    width: 85%;
    color: #333; /* Couleur du texte */
     
}

#photographer-details div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    height: 100px;
    padding-left: 30px;
}

a {
    text-decoration: none;
}

#photographer-details h2 {
    font-size: 50px;
    color: #D3573C;
    margin: 0;
    padding: 0;
}

#photographer-details p {
    font-size: 24px;
    color:  #D3573C;
    margin: 5px 0;
    align-items: center;
}

#photographer-details span {
    font-size: 18px;
    color: #525252;
    margin: 5px 0;
}

#photographer-details img {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    object-fit: cover;
    overflow: hidden;
}

/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
    #photographer-details {
        flex-direction: column;
        text-align: center;
    }

    #photographer-details img {
        margin-top: 10px;
    }
}

/* Styles pour le bouton de contact */

.contact_button {
    background-color:#901C1C;
    color:#fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 0;
    width: 180px;
    height: 59px;
    font-size: 18px;
    margin-bottom: 180px;
    
}

.contact_button:hover {
    background-color:#007bff ;
    
}

/* Styles pour les options de tri */
.sort-options {
    margin-bottom: 0; /* Espacement sous les options de tri */  
}

.sort-options label {
    display: block; /* Force le label à occuper une ligne entière */
    margin-bottom: 30px; /* Espacement sous le label */
    color: #333; /* Couleur du texte des labels */
     
}

.hidden-option {
    display: none;
}

.sort-options {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    margin-left: 50px; 
    margin-bottom: 0;   
}

/* Style de base pour le select */
#sort {
    -webkit-appearance: none;  /* Masque la flèche par défaut pour Safari */
    -moz-appearance: none;     /* Masque la flèche par défaut pour Firefox */
    appearance: none;          /* Masque la flèche par défaut pour les autres navigateurs */
    
    /* Ajout de la flèche montante personnalisée */
    background: url('/assets/icons/fleche-vers-le-haut.png') no-repeat right center;
    background-size: 1em;
    padding-right: 2em; /* Espace pour la flèche */
    
    /* Centre la flèche avec un décalage du bord droit */
    background-position: calc(100% - 0.5em) center; /* Décalage de la flèche à 1em du bord */
    background-size: 1em; /* Taille de la flèche */
    
    /* Centre le texte */
    padding-left: 20px;

    /* Centre verticalement le texte en fonction de la hauteur */
    line-height: 2em;
    align-items: center;
    
    /* Défini la couleur de fond */
    background-color:#901C1C; 
    
    /* Couleur du texte */
    color:#f2f2f2; 
    font-weight: 400;
    
    /* Styles supplémentaires pour l'apparence */
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 2.5em;
    font-size: 16px;
    margin-left: 20px;    
}

/* Ajoute d'une bordure et des couleurs différentes lorsque le select est en focus */
#sort:focus {
    outline: none; /* Retirer la bordure de focus par défaut */
    border-color: #666; /* Couleur de bordure lors du focus */    
    /* Couleur du texte au focus (facultatif) */
    color:white;    
}

/* Styles pour la galerie de médias */
.gallery {
    display: flex; /* Affichage en flexbox pour la galerie */
    flex-wrap: wrap; /* Enroule les éléments de la galerie */
    gap: 10px; /* Espacement entre les éléments */
    justify-content: center;
    align-items: center;   
}

/* Styles pour la section des médias */
.media-section {
    padding: 20px; /* Espacement interne */
    background-color: #ffffff; /* Couleur de fond */
    color: #333; /* Couleur du texte */
    padding-top: 0;
    width: 100%;
    margin-right: 20px;
    
}
.media {
    width: 320px;
    height: 280px;
    object-fit: cover;
}

.media img,
.media video {
    width: 100%;
    border-radius: 0.5rem;
}

.media-item {
    height: 320px;
}

article {
    width: 30%;
    justify-content: flex-start;
}

/* Styles pour les titres */
h2 {  
    margin-top: 0;
    color: #901C1C;
    font-size: 20px;
    font-weight: 400;
}

/* Styles pour les informations des médias */
.media-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

/* Styles pour la modale de contact */
.modal-container {
    position: fixed; /* Positionne la modale en fixe */
    top: 0; /* Aligne en haut */
    left: 0; /* Aligne à gauche */
    width: 100%; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: none; /* Affichage flex pour centrer la modale */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    z-index: 1000; /* Positionne au-dessus des autres éléments */
}

/* Styles pour le contenu de la modale */
.modal {
    background-color:#DB8876; /* Couleur de fond de la modale */
    padding: 10px; /* Espacement interne */
    padding-top: 0;
    width: 27%; /* Largeur de la modale */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre portée */
}

/* Styles pour le formulaire de contact */
#contact-form {
    display: flex; /* Affichage en flexbox */
    flex-direction: column; /* Dispose les éléments en colonne */
}

#contact-form label {
    font-size: 24px;
    color:#312E2E; /* Couleur du texte des labels */
}

#contact-form input, #contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;/*Espacementsousleschampsdeformulaire*/
    border: 1px solid #ccc;/*Espacementinterne*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 5px; /*Borduredeschampsdeformulaire*/
}

.modal h2 {
    color: #000;
    font-size: 38px;
    padding: 0;
   text-align:left;
    margin-top: 10px;
}

.modal span {
    display: flex;
    font-size: 38px;
}

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color:#DB8876;
}

#message {
    height: 100px;
}

.modal form button {
    align-self: flex-start;
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    height: 59px;
    background: #901C1C;
    color: #f2f2f2;
    border: none;   
}

/* Styles pour le bouton de fermeture de la modale */
.closeModal {
    float:right;
    margin-bottom: 55px;
    background-color: transparent;
    border: none;
    z-index: 1000; 
}


.closeModal img {
    width: 24px; /* Taille de l'image */
    height: 24px; /* Taille de l'image */
}

/* Styles pour la lightbox */
.lightbox {
    position: fixed; /* Fixe la lightbox à l'écran */
    top: 0;
    left: 0;
    width: 100%; /* Prendre toute la largeur de l'écran */
    height: 100%; /* Prendre toute la hauteur de l'écran */
    background: white;
    display: flex;
    flex-direction: column; /* Place l'image et le titre verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    z-index: 1000;
    box-sizing: border-box;
}

/* Styles pour les boutons de la lightbox */
.lightbox-close, .lightbox-prev, .lightbox-next {
    position: absolute; /* Positionne les boutons */
    background: none; /* Pas de fond */
    border: none; /* Enlève la bordure */
    color:  #901C1C; /* Couleur du texte */
    font-size: 48px; /* Taille du texte */
    cursor: pointer; /* Curseur pointeur */
    margin: 0; /* Réinitialise les marges */
}

/* Boutons de la lightbox */
.lightbox-close {
    float: right;
    margin-left: 47%;
    margin-bottom: 43%;
  
}

.lightbox-prev {
    float: left;
    margin-right: 50%;
    transform: translateY(-50%); /* Centre verticalement */
}

.lightbox-next {
    float: right;
    margin-left: 50%; 
    transform: translateY(-50%); /* Centre verticalement */
}

/* Styles pour les images et vidéos dans la lightbox */
.lightbox-image, 
.lightbox-video {
    max-width: 100%; /* Prend toute la largeur disponible */
    max-height: 90%; /* Limite la hauteur à 80% de la hauteur de la fenêtre */
    object-fit: cover; /* Conserve les proportions de l'image */
}



/* Styles pour le titre dans la lightbox */
.lightbox-title {
    color: #901C1C;
    font-size: 22px;
    text-align: left; /* Centre le titre */
    width: 100%;
    margin-left: 56%;
}


/* Styles pour la vidéo */
.lightbox-video {
    display: none; /* Masque les vidéos par défaut */
    width: 45%;
    height: 90%;
}

/* Styles pour le conteneur des likes */
.likes-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;
    margin-right: 105px;
    position: relative;
    bottom: 45px;
}

/* Compteur de likes */
.likes-count {
    font-size: 1.1em;
    color: #901C1C;
    padding-left: 20px;
}

/* Bouton like */
.like-button {
    background: none;
    border: none;
    color: #901C1C;
    font-size: 1.1em;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.like-button:hover {
    transform: scale(1.2);
}

.like-button:focus {
    outline: none;
}

/* Styles de base pour le conteneur des likes totaux */
.total-likes-title {
    color: #000000;
    opacity: 0;
}

.total-likes-container {
    position:fixed;
    bottom: 0px;
    right: 150px;
    color: #333; /* Couleur du texte */
    background-color: #DB8876;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;  
}

.total-likes {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.price-per-day {
    font-size: 16px;
    color: #000000;
}

