body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
   
    padding: 1rem;
    text-align: center;    
}

.logo {
    width: 150px;
}

main {
    padding: 2rem;
}

img {
    width: 300px;
    height: 300px;
    padding-right: 10px;
}

.photograph-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    height: 50px;
    
}

/* Styles pour la section des détails du photographe */

#photographer-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #f2f2f2;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #e6e6e6;
    text-align: center;
    padding-bottom: 30px;
   
}

#photographer-details div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;  
}

a {
    text-decoration: none;
}


#photographer-details h2 {
    font-size: 36px;
    color: #D3573C;
    margin: 0;
    padding: 0;
   
}

#photographer-details p {
    font-size: 24px;
    color: #901C1C;
    margin: 5px 0;
}

#photographer-details span {
    font-size: 18px;
    color:#525252;
    margin: 5px 0;
}



#photographer-details img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}



/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
    #photographer-details {
        flex-direction: column;
        text-align: center;
    }

    #photographer-details img {
        margin-top: 10px;
    }
}

.contact_button {
    background-color: #901C1C;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 0px;
    position: relative;
    bottom: 100px;
    width: 170px;
    height: 69px;
    font-size:20px ;
}

.contact_button:hover {
    background-color: #c94c4c;
}

.media-section {
    margin-top: 2rem;
}

.sort-options {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    margin-left: 50px;
}

#sort {
    padding: 0.5rem;
    color:white;
    background-color: #901C1C;
    ;

}

.gallery {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;  
}

.media {
    width: 350px;
    height: 351px;
   
    padding: 1rem;
    border-radius: 0.5rem;
}

.media img, .media video {
    width: 100%;
    border-radius: 0.5rem;
}

article {
    width: 30%;
    justify-content:flex-start;
}

h2 {
  padding-left: 20px;
  margin-top: 0;
  color: #901C1C;
  size: 24px;
  font-weight: 400;
   }
   

.media-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal {
    background:#DB8876;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 300px;
    padding-top: 0;
   
    
}

.modal h2 {
    color:#000000;
}

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal form input,
.modal form textarea {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#message {
    height: 100px;
}

.modal form button {
    align-self: flex-start;
    top:10px;
    height: 70px;
}

.closeModal {
    width: 10%;
}

.closeModal {
    background: transparent;
    border: none;
    padding: 0; /* Supprime les marges internes */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .closeModal img {
    width: 20px; /* Ajustez la largeur de l'image */
    height: 20px; /* Ajustez la hauteur de l'image */
  }

/* Styles de base pour la lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .lightbox.hidden {
    visibility: hidden;
    opacity: 0;
  }
  
  .lightbox img,
  .lightbox video {
    max-width: 80%;
    max-height: 80%;
  }
  
  .lightbox-close,
  .lightbox-prev,
  .lightbox-next {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
  }
  
  .lightbox-close {
    top: 20px;
    right: 30px;
  }
  
  .lightbox-prev {
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }
  
  .lightbox-next {
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
  
  .lightbox-video {
    display: none;
  }
  
  /* Conteneur pour les likes */
.likes-container {
    display: flex;
    align-items:center;
    margin-top: 10px;
}

/* Compteur de likes */
.likes-count {
    font-size: 1.1em;
    margin-right: 10px;
    color:#901C1C;
    padding-left: 20px;
}

/* Bouton like */
.like-button {
    background: none;
    border: none;
    color: #901C1C;
    font-size: 1.1em;
    cursor: pointer;
    transition: transform 0.2s ease;
    
}

.like-button:hover {
    transform: scale(1.2);
}

.like-button:focus {
    outline: none;
}

/* Styles de base pour le conteneur des likes */
.total-likes-container {
    background-color: #DB8876;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
   justify-content: end;
    gap: 10px; /* Pour espacer le nombre de likes du prix */
}

.total-likes {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.price-per-day {
    font-size: 18px;
    color:#000000;
}
