/* Importation des styles depuis un autre fichier CSS */
@import url("photographer.css");

/* Styles de base pour le corps de la page */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles pour l'en-tête */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
}

/* Styles pour le titre principal */
h1 {
    color: #901C1C;
    font-size: 2em;
    margin: 20px 100px;
}

/* Styles pour le logo */
.logo {
    height: 50px;
    width: 200px;
    margin-left: 80px;
}

/* Styles pour la section des photographes */
.photographer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.photographer_section article {
    background: white;
    width: 400px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
}

/* Styles pour le conteneur de texte dans les articles */
.text-container {
    height: 38px;
    line-height: 1;
    padding-bottom: 50px;
}

.text-container .img-title-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Styles pour les paragraphes dans les articles */
p {
    font-size: 13px;
    margin: 0;
    color: #D3573C;
}

td {
    font-size: 9px;
    font-weight: 400;
    margin: 0;
   padding-left: 180px;
    
}

span {
    font-size: 10px;
    font-weight: 400;
    
}
/* Styles pour le conteneur de l'image et du titre */
.img-title-container {
    height: 300px;
    width: 250px;
}

/* Styles pour les titres des articles */
.photographer_section article h2 {
    color: #D3573C;
    font-size: 1.5em;
    height: 38px;
    margin: 0;
}

/* Styles pour les images dans les articles */
.photographer_section article img {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    object-fit: cover;
    overflow: hidden;
}

/* Styles pour les liens de photographe */
.photographer-link {
    text-decoration: none;
    color: inherit;
}
