/* Importation des styles depuis un autre fichier CSS */
@import url("photographer.css");

:focus {
    outline: 2px solid black; /* Modifie l'épaisseur et la couleur de la bordure */
    outline-offset:  25px; /* Ajoute un espace autour de la bordure */
    
    
  }
  
  
/* Styles de base pour le corps de la page */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles pour l'en-tête */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #f5f5f5; /* Couleur de fond de l'en-tête */
    padding: 10px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
}

/* Styles pour le titre principal */
h1 {
    color:#901C1C; /* Couleur du texte du titre */
    font-size: 2em;
    margin: 20px 100px;
    height: auto;    
    }


/* Styles pour le logo */
.logo {

    width: 150px; /* Limiter la taille du logo */
    height: auto; /* Conserver les proportions du logo */
    margin-left: 80px;
}

:focus .logo {
    outline: 0;
}

/* Styles pour la section des photographes */
.photographer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
   
}

.photographer_section article {
    background: white;
    width: 30%x;
    height: 280px;
    text-align:center;
    border-radius: 5px;
}

/* Styles pour le conteneur de texte dans les articles */
.text-container {
    height: 38px;
    line-height: 1;
    
}

.text-container .img-title-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Styles pour les paragraphes dans les articles */
p {
    font-size: 16px;
    margin: 0;
    color:  #333;
}

td {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
   padding-left: 180px;
    
}

span {
    font-size: 14px;
    font-weight: 400;
    
}
/* Styles pour le conteneur de l'image et du titre */
.img-title-container {
    height: 300px;
    width: 250px;
}

/* Styles pour les titres des articles */
.photographer_section article h2 {
    color: #D3573C;
    font-size: 1.5em;
    height: 38px;
    margin: 0;
}

/* Styles pour les images dans les articles */
.photographer_section article img {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    object-fit: cover;
    overflow: hidden;
}

/* Styles pour les liens de photographe */
.photographer-link {
    text-decoration: none;
    color: inherit;
}

/* Styles pour le conteneur principal */
.photographer_section {
    padding: 20px; /* Espacement interne */
    background-color: #ffffff; /* Couleur de fond */
    color: #333; /* Couleur du texte */
}

/* Styles pour les labels */
label {
    display: block; /* Forcer le label à occuper une ligne entière */
    margin-bottom: 8px; /* Espacement sous le label */
    color: #333; /* Couleur du texte des labels */
}